# 1. Manipulate using a list.

i) To add new elements to the end of the list
ii)To reverse elements in the list
iii)To display the same list of elements multiple times
iv)To concatenate two list.
v)To sort the elements in the list in ascending order

In [1]:
lst=[10,20,'john']

In [2]:

lst

[10, 20, 'john']

In [3]:
#i) To add new elements to the end of the list 

lst.append(30) #append is used to add single element at the end of the list

In [4]:
lst

[10, 20, 'john', 30]

In [6]:
# ii)To reverse elements in the list 

lst.reverse()
lst

[30, 'john', 20, 10]

In [7]:
# iii)To display the same list of elements multiple times
lst*5

[30,
 'john',
 20,
 10,
 30,
 'john',
 20,
 10,
 30,
 'john',
 20,
 10,
 30,
 'john',
 20,
 10,
 30,
 'john',
 20,
 10]

In [33]:
# iv)To concatenate two list.
lst1=[11,12,13]
lst2=[14,15,16]
r=lst1+lst2
r

[11, 12, 13, 14, 15, 16]

In [11]:
# v)To sort the elements in the list in ascending order
lst=[50,100,16,20,11]

In [12]:
lst

[50, 100, 16, 20, 11]

In [13]:
lst.sort()

In [14]:
lst

[11, 16, 20, 50, 100]

# 2.Write a Python program to do in the tuples

i)Manipulate using tuples
ii)To add new elements to the end of the tuples
iii)To reverse elements in the tuple
iv)To display the elements of the same tuple multiple times
v)To concatenate two tuples
vi)To sort the elements in the tuple in ascending order

In [15]:
# i)Manipulate using tuples

tup=(11, 12.34,'david')

In [16]:
tup

(11, 12.34, 'david')

In [21]:
# ii)To add new elements to the end of the tuples 

#You cant add new elements to a tuple because of their immutable property.

In [22]:
# iii)To reverse elements in the tuple

tup=(1,2,3,4)
reversed_tup=tup[::-1]
print(reversed_tup)

(4, 3, 2, 1)

In [23]:
# iv)To display the elements of the same tuple multiple times 
tup=(20,30)

In [24]:
tup

(20, 30)

In [25]:
tup*4

(20, 30, 20, 30, 20, 30, 20, 30)

In [32]:
# v)To concatenate two tuples
tup1=(1,2,3)
tup2=(7,8,9)
r=tup1+tup2
r

(1, 2, 3, 7, 8, 9)

In [37]:
# vi)To sort the elements in the tuple in ascending order

#You cant sort the elements in the tuple in ascending order because it is immutable.

# 3.Write a Python program to implement the following list

i)Create a list with integers(minimum 10 numbers)
ii)How to display the last number in the list
iii)Command for displaying the values from the list[0:4]
iv)Command for displaying the values from the list[2:]
v)Command for displaying the values from the list[:6]

In [ ]:
# i)Create a list with integers(minimum 10 numbers)

lst=[2,4,6,8,10,12,14,16,18,20]

In [40]:
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
# ii)How to display the last number in the list
lst[9:]

[20]

In [42]:
# iii)Command for displaying the values from the list[0:4]
lst[0:4]

[2, 4, 6, 8]

In [43]:
# iv)Command for displaying the values from the list[2:]

lst[2:]

[6, 8, 10, 12, 14, 16, 18, 20]

In [44]:
# v)Command for displaying the values from the list[:6]

lst[:6]

[2, 4, 6, 8, 10, 12]

# 4.Write a python program : tuple1 =(10,50,20,40,30)
  
 i)To display the elements 10 and 50 from tuple1
 ii)To display the length of tuple1
 iii)To find the minimum element from tuple1
 iv)To add all elements in the tuple1
 v)To display the same tuple1 multiple times

In [46]:
tuple1=(10,50,20,40,30)

In [47]:
tuple1

(10, 50, 20, 40, 30)

In [53]:
# i)To display the elements 10 and 50 from tuple1

tuple1[0:2]

(10, 50)

In [54]:
# ii)To display the length of tuple1

len(tuple1)

5

In [56]:
# iii)To find the minimum element from tuple1

min(tuple1)

10

In [58]:
# iv)To add all elements in the tuple1

sum(tuple1)

150

In [60]:
# v)To display the same tuple1 multiple times

tuple1*4

(10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30)

# 5.Write a Python program

i)To calculate the length of a string
ii)To reverse words in a string
iii)To display the same string multiple times
iv)To concatenate two strings
v)Str1="South India",using string slicing to display "India"

In [61]:
# i)To calculate the length of a string 

Str1="South India"

In [62]:
Str1

'South India'

In [63]:
len(Str1)

11

In [66]:
#  ii)To reverse words in a string

Str1[::-1]

'aidnI htuoS'

In [68]:
# iii)To display the same string multiple time

Str1 * 3

'South IndiaSouth IndiaSouth India'

In [70]:
# iv)To concatenate two strings

Str1="South India"
Str2="India"
r= Str1 + Str2
r

'South IndiaIndia'

In [ ]:
# v)Str1="South India",using string slicing to display "India"

In [71]:
Str1[6:]

'India'

# 6.Perform the following
i)Creating the Dictionary
ii)Accessing values and keys in the Dictionary
iii)Updating the dictionary using a function
iv)Clear and delete the dictionary values.

In [72]:
# i)Creating the Dictionary

student={'f_name':'Aditya','l_name':'Patil','city':'Belgaum'}

In [73]:
student

{'f_name': 'Aditya', 'l_name': 'Patil', 'city': 'Belgaum'}

In [75]:
# ii)Accessing values and keys in the Dictionary

student.values()

dict_values(['Aditya', 'Patil', 'Belgaum'])

In [76]:
student.keys()

dict_keys(['f_name', 'l_name', 'city'])

In [77]:
# iii)Updating the dictionary using a function

student.update({'class': '5'})

In [78]:
student

{'f_name': 'Aditya', 'l_name': 'Patil', 'city': 'Belgaum', 'class': '5'}

In [81]:
# iv)Clear and delete the dictionary values.

student.pop('city')

'Belgaum'

In [82]:
student

{'f_name': 'Aditya', 'l_name': 'Patil'}

# 7.Python program to insert a number to any position in a list

In [83]:
lst=[10,20,30,40,50]

In [84]:
lst

[10, 20, 30, 40, 50]

In [85]:
lst.insert(4,'15')

In [86]:
lst

[10, 20, 30, 40, '15', 50]

# 8.Python program to delete an element from a list by index

In [87]:
lst=[11,12,13,14,15]

In [88]:
lst

[11, 12, 13, 14, 15]

In [93]:
lst.pop(2)

13

In [94]:
lst

[11, 12, 14, 15]

# 9.Write a program to display a number from 1 to 100

In [96]:
for i in range(1,101):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10.Write a python program to find the sum of all items in a tuple

In [97]:
tup=(1,2,3,4,5)

In [98]:
tup

(1, 2, 3, 4, 5)

In [103]:
import math
r = math.fsum(tup)
print("The sum of tuple elements is " + str(r))

The sum of tuple elements is 15.0

# 11.Create a dictionary containing three lambda functions square, cube and square root.

i)Eg .dict={'Square':function for squaring,'Cube':function for cube,'Squareroot':function for square root}
ii)Paas the values(input from the user)to the functions in the dictionary respectively
iii)Then add the outputs of each function and print it

In [9]:


square = lambda x: x**2
cube = lambda x: x**3
square_root = lambda x: x**0.5


num = float(input("Enter a number: "))


print(f'Square: {square(num)}')
print(f'Cube: {cube(num)}')
print(f'Square Root: {square_root(num)}')


result = square(num) + cube(num) + square_root(num)
print(f'Sum of results: {result}')

Enter a number: 2
Square: 4.0
Cube: 8.0
Square Root: 1.4142135623730951
Sum of results: 13.414213562373096

# 12.A list of words is given .Find the words from the list that have their second character in uppercase.
ls=['hello','Dear','hOw','ARe','You']

In [105]:
ls=['hello','Dear','hOw','ARe','You']
result =[word for word in ls
        if len(word)>=2 and word[1].isupper()]
print(result)

['hOw', 'ARe']

# 13.A dictionary of names and their weights on earth is given.Find how much they will weigh on the moon.(Use map and lambda functions)Formula:wMoon=(wEarth*Gmoon)/GEarth
i) #Weight of people in kg

    WeightOnEarth={'John':45,'Shelly':65,'Marry':35}
    
ii) #Gravitational force on the Moon:1.622 m/s2

     Gmoon=1.622
    
iii) #Gravitational force on the Earth:9.81 m/s2 

      GEarth = 9.81

In [13]:

    
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}


GMoon = 1.622


GEarth = 9.81


WeightOnMoon = list(map(lambda wEarth: (wEarth * GMoon) / GEarth, WeightOnEarth.values()))


WeightOnMoonDict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))

print(WeightOnMoonDict)

{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

# Control Structures:

# 1.Write a python program to find the first N Prime numbers

In [111]:
def Prime(n):  
    for i in range(2,n//2+1):  
        if(n%i==0):  
            return(0)  
    return(1)  
  
N=int(input("Enter N:"))  
i=2 
lst=[] 
while(1):  
    if(Prime(i)):  
        lst.append(i) 
        if(len(lst)==N): 
            break 
    i+=1 
print("First "+str(N)+" Prime numbers are:",end="") 
print(*lst)

Enter N:10
First 10 Prime numbers are:2 3 5 7 11 13 17 19 23 29

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA and DA.
Add these components to calculate the Gross Salary. Also,deduct 10%of salary from the Gross Salary to be paid as tax and display
gross minus tax as net salary.

In [140]:

basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))


gross_salary = basic_salary + hra + ta + da


tax = 0.10 * gross_salary


net_salary = gross_salary - tax


print(f"Gross Salary: {gross_salary}")
print(f"Tax Deduction (10%): {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 5000
Enter HRA: 1000
Enter TA: 500
Enter DA: 800
Gross Salary: 7300.0
Tax Deduction (10%): 730.0
Net Salary: 6570.0

# 3.Write a python program to search for a string in the given list

In [115]:

lst = [2, 5.0, 'it', 'a', 'school', 'six']
 

s = 'school' 
 

if s in lst:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

school is present in the list

# 4.Write a python function that accepts a string and calculate the number of upper case letters and lower case letters

def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

In [117]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

# 5.write a python program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [118]:

sum_even = 0
sum_odd = 0


for num in range(12, 38):
    
    if num % 2 == 0:
        sum_even += num
    else:
        sum_odd += num


print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 312
Sum of odd numbers: 325

# 6.Write a python Program to print the table of any number.

In [119]:
n=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter the number to print the tables for:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 7.Write a Python program to sum the first 10 prime numbers

In [120]:


 
def sumOfPrimes(n):
    
    prime = [True] * (n + 1)
     
    
    p = 2
    while p * p <= n:
        
        if prime[p] == True:
            
            i = p * 2
            while i <= n:
                prime[i] = False
                i += p
        p += 1   
          
    
    sum = 0
    for i in range (2, n + 1):
        if(prime[i]):
            sum += i
    return sum
 

n = 10
print(sumOfPrimes(n))

17

# 8.Write a python program to implement arithmetic operations using nested if statement

In [122]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")


result = 0

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0: 
        result = num1 / num2
    else:
        print("Error: Division by zero")
else:
    print("Invalid operation")


print(f"Result: {result}")

Enter the first number: 5
Enter the second number: 4
Enter the operation (+, -, *, /): +
Result: 9.0

# 9. Write a Python Program to Take the temperature in celcius and convert it to Fahrenheit.

In [134]:

celsius = float(input("Enter temperature in Celsius: "))


fahrenheit = (celsius * 9/5) + 32


print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 48
48.0 degrees Celsius is equal to 118.4 degrees Fahrenheit

# 10. Write a Python Program to find the max and min number in a list without using an inbuilt function.

In [125]:
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)

# 11. Write a Python Program to print out the number of seconds in 30 day        month 30 days, 24 hours in a day, 60 mins per day, 60 second per min

In [126]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60


total_seconds = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute


print(f"The number of seconds in a 30-day month is: {total_seconds} seconds")

The number of seconds in a 30-day month is: 2592000 seconds

# 12. Write a Python Program to print out the number of seconds in a year

In [127]:
days = 365
hours = 24
mins = 60
secs = 60
secsInYear = days * hours * mins * secs
print("Number of seconds in a year =", secsInYear)

Number of seconds in a year = 31536000

# 13. A high speed train can travel at an avg speed of 150 mph, how long will it take a train travelling at this speed to travel from Londen to Glasgow which is 414 miles away

In [128]:
distance = 414  
speed = 150  

time = distance / speed
print(f"It will take {time} hours to travel from London to Glasgow.")

It will take 2.76 hours to travel from London to Glasgow.

# 14.Write a Python Program that defines a variable called days_in_each_school_year and assign 192 to variable. The program should then print out the total hours that you spend in school from year 7 to year 11. if each day you spend 6 hours in school day_in_each_school_year = 192

In [129]:

days_in_each_school_year = 192


total_hours_in_school = (days_in_each_school_year * 5)  
total_hours = total_hours_in_school * 6 
# Print the result
print("Total hours spent in school from year 7 to year 11:", total_hours)

Total hours spent in school from year 7 to year 11: 5760

# 15. If the ages of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and the youngest of the three

In [130]:

ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))


eldest = max(ram_age, sam_age, khan_age)


youngest = min(ram_age, sam_age, khan_age)


print(f"The eldest among them is {eldest} years old.")
print(f"The youngest among them is {youngest} years old.")

Enter Ram's age: 11
Enter Sam's age: 15
Enter Khan's age: 9
The eldest among them is 15 years old.
The youngest among them is 9 years old.

# 16.Write a python program to rotate a list by the right n times with and without slicing technique

In [133]:
def rotate_list_with_slicing(lst, n):
    n = n % len(lst)  # Ensure n is within the range of list length
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list


my_list = [1, 2, 3, 4, 5]
rotation_count = 2
result = rotate_list_with_slicing(my_list, rotation_count)
print(result) 

def rotate_list_without_slicing(lst, n):
    n = n % len(lst)  # Ensure n is within the range of list length
    rotated_list = [0] * len(lst)
    for i in range(len(lst)):
        rotated_list[(i + n) % len(lst)] = lst[i]
    return rotated_list


my_list = [1, 2, 3, 4, 5]
rotation_count = 2
result = rotate_list_without_slicing(my_list, rotation_count)
print(result)

[4, 5, 1, 2, 3]
[4, 5, 1, 2, 3]

In [ ]:
17.Python program to print the patterns given below:
    
  i)1                                                    
    1 1                                                    
    1 2 1                                                   
    1 3 3 1                                         
    1 4 6 4 1                                    
    1 5 10 10 5 1
    1 6 15 20 15 6 1
    
 ii)*
    * *
    * * *
    * * * *
    * * * * *
    
iii)            *
               * *
              * * *
             * * * *
            * * * * *
           * * * * * *
          * * * * * * *
            
 iv)    p
        py
        pyt
        pyth
        pytho
        python

In [145]:
 def print_pattern(rows):
    for i in range(0, rows):
        for j in range(0, i + 1):
            
            coefficient = 1
            if j > 0 and j < i:
                coefficient = coefficient * (i - j + 1) // j
            print(coefficient, end=" ")
        print()


rows = 7
print_pattern(rows)

1
1 1
1 2 1
1 3 1 1
1 4 1 0 1
1 5 2 1 0 1
1 6 2 1 0 0 1

In [146]:
 n = 5  

for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [147]:
rows = 7  

for i in range(1, rows + 1):
   
    for j in range(rows - i):
        print(" ", end="")

    
    for k in range(i):
        print("*", end=" ")

    
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [148]:
word = "python"

for i in range(1, len(word) + 1):
    print(word[:i])

p
py
pyt
pyth
pytho
python