In [ ]:
%matplotlib inline 
import pandas as pd

In [27]:
titles= pd.read_csv('titles.csv')

titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# 1. How many movies are listed in the titles dataframe?

In [28]:
import pandas as pd

df = pd.read_csv("titles.csv")

num_movies = len(df)

print(f'Total number of movies listed: {num_movies}')

Total number of movies listed: 244914

# 2.What are the earliest two films listed in the titles dataframe?

In [33]:
import pandas as pd

df = pd.read_csv("titles.csv")

df_sorted = df.sort_values(by='year')

earliest_films = df_sorted.head(2)

print("The earliest two films listed:")
print(earliest_films[['title', 'year']])

The earliest two films listed:
                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 3.How many movies have the title "Hamlet"?

In [32]:
import pandas as pd

csv_file = "titles.csv"

df = pd.read_csv(csv_file)

hamlet_movies = df[df['title'] == 'Hamlet']

num_hamlet_movies = hamlet_movies.shape[0]

print(f'The number of movies with the title "Hamlet" is: {num_hamlet_movies}')

The number of movies with the title "Hamlet" is: 20

# 4. How many movies are titled "North by Northwest"?

In [35]:
import pandas as pd

csv_file = "titles.csv"

df = pd.read_csv(csv_file)

north_by_northwest_movies = df[df['title'] == 'North by Northwest']

num_north_by_northwest_movies = north_by_northwest_movies.shape[0]

print(f'The number of movies titled "North by Northwest" is: {num_north_by_northwest_movies}')

The number of movies titled "North by Northwest" is: 1

# 5.When was the first movie titled "Hamlet" made?

In [37]:
import pandas as pd

csv_file = "titles.csv"

df = pd.read_csv(csv_file)

hamlet_movies = df[df['title'] == 'Hamlet']

hamlet_movies = hamlet_movies.sort_values(by='year')

first_hamlet_movie_year = hamlet_movies.iloc[0]['year']

print(f'The first movie titled "Hamlet" was made in the year: {first_hamlet_movie_year}')

The first movie titled "Hamlet" was made in the year: 1910

# 6. How many movies were made in the year 1950?

In [38]:
import pandas as pd

csv_file = "titles.csv"

df = pd.read_csv(csv_file)

movies_1950 = df[df['year'] == 1950]

num_movies_1950 = movies_1950.shape[0]

print(f'The number of movies made in the year 1950 is: {num_movies_1950}')

The number of movies made in the year 1950 is: 1113

# 7. How many movies were made in the year 1960?

In [39]:
import pandas as pd

csv_file = "titles.csv"

df = pd.read_csv(csv_file)

movies_1960 = df[df['year'] == 1960]

num_movies_1960 = movies_1960.shape[0]

print(f'The number of movies made in the year 1960 is: {num_movies_1960}')

The number of movies made in the year 1960 is: 1549

# 8. How many movies were made from 1950 through 1959?

In [40]:


import pandas as pd

csv_file = "titles.csv"

df = pd.read_csv(csv_file)

movies_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959)]

num_movies_1950s = movies_1950s.shape[0]

print(f'The number of movies made from 1950 through 1959 is: {num_movies_1950s}')

The number of movies made from 1950 through 1959 is: 12934

# 9. In what years has a movie titled "Batman" been released?

In [41]:

import pandas as pd

csv_file = "titles.csv"

df = pd.read_csv(csv_file)

batman_movies = df[df['title'] == 'Batman']

unique_years = batman_movies['year'].unique()

print(f'Years in which a movie titled "Batman" has been released: {unique_years}')

Years in which a movie titled "Batman" has been released: [1943 1989]

# 10. How many roles were there in the movie "Inception"?

In [42]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

inception_roles = df[df['title'] == 'Inception']

num_roles_inception = inception_roles['character'].nunique()

print(f'The number of roles in the movie "Inception" is: {num_roles_inception}')

The number of roles in the movie "Inception" is: 56

# 11. How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [44]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

inception_roles = df[df['title'] == 'Inception']

num_unranked_roles = inception_roles['n'].isna().sum()

print(f'The number of roles in the movie "Inception" that are not ranked by an "n" value is: {num_unranked_roles}')

The number of roles in the movie "Inception" that are not ranked by an "n" value is: 27

# 12. But how many roles in the movie "Inception" did receive an "n" value?

In [21]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

inception_roles = df[df['title'] == 'Inception']

num_ranked_roles = inception_roles['n'].notna().sum()

print(f'The number of roles in the movie "Inception" that received an "n" value is: {num_ranked_roles}')

The number of roles in the movie "Inception" that received an "n" value is: 51

# 13. Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [2]:
import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

north_by_northwest_cast = df[(df['title'] == 'North by Northwest') & df['n'].notna()]

north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'])

north_by_northwest_cast = north_by_northwest_cast.sort_values(by='n')

print(north_by_northwest_cast[['name', 'character', 'n']])

                         name                    character     n
871426             Cary Grant           Roger O. Thornhill   1.0
3518333       Eva Marie Saint                  Eve Kendall   2.0
1457165           James Mason              Phillip Vandamm   3.0
3157232   Jessie Royce Landis              Clara Thornhill   4.0
356707         Leo G. Carroll                The Professor   5.0
3048272  Josephine Hutchinson                Mrs. Townsend   6.0
1695173           Philip Ober              Lester Townsend   7.0
1275337         Martin Landau                      Leonard   8.0
2447081         Adam Williams                     Valerian   9.0
1811387          Edward Platt              Victor Larrabee  10.0
665768      Robert Ellenstein                        Licht  11.0
2295714          Les Tremayne                   Auctioneer  12.0
464736        Philip Coolidge                    Dr. Cross  13.0
1508344         Patrick McVey               Sergeant Flamm  14.0
206471           Edward Binns               Captain Junket  15.0
1384780             Ken Lynch  Charley - Chicago Policeman  16.0

C:\Users\MEGHA\AppData\Local\Temp\ipykernel_2784\2283023261.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'])

# 14. Display the entire cast, in "n"-order, of the 1972 film "Sleuth"

In [3]:
import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

sleuth_1972_cast = df[(df['title'] == 'Sleuth') & (df['year'] == 1972)]

sleuth_1972_cast = sleuth_1972_cast.sort_values(by='n')

print(sleuth_1972_cast[['name', 'character', 'n']])

                       name                   character    n
1705394    Laurence Olivier                 Andrew Wyke  1.0
326773        Michael Caine                 Milo Tindle  2.0
373876       Alec Cawthorne           Inspector Doppler  3.0
1465483  John (II) Matthews  Detective Sergeant Tarrant  4.0
2724553  Eve (III) Channing             Marguerite Wyke  5.0
1448690        Teddy Martin      Police Constable Higgs  6.0

# 15. Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [4]:
import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

sleuth_2007_cast = df[(df['title'] == 'Sleuth') & (df['year'] == 2007)]

sleuth_2007_cast = sleuth_2007_cast.sort_values(by='n')

print(sleuth_2007_cast[['name', 'character', 'n']])

                        name          character    n
326774         Michael Caine             Andrew  1.0
1293634             Jude Law               Milo  2.0
1805907        Harold Pinter        Man on T.V.  3.0
260242       Kenneth Branagh  Other Man on T.V.  NaN
373877   Alec (II) Cawthorne  Inspector Doppler  NaN
2724552    Eve (II) Channing    Marguerite Wyke  NaN
3370424    Carmel O'Sullivan             Maggie  NaN

# 16. How many roles were credited in the silent 1921 version of Hamlet?

In [5]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

hamlet_1921_cast = df[(df['title'] == 'Hamlet') & (df['year'] == 1921)]

num_credited_roles = hamlet_1921_cast.shape[0]

print(f'The number of roles credited in the silent 1921 version of "Hamlet" is: {num_credited_roles}')

The number of roles credited in the silent 1921 version of "Hamlet" is: 9

# 17. How many roles were credited in Branagh's 1996 Hamlet?

In [6]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

branagh_hamlet_1996_cast = df[(df['title'] == 'Hamlet') & (df['year'] == 1996)]

num_credited_roles = branagh_hamlet_1996_cast.shape[0]

print(f'The number of credited roles in Kenneth Branagh\'s 1996 version of "Hamlet" is: {num_credited_roles}')

The number of credited roles in Kenneth Branagh's 1996 version of "Hamlet" is: 54

# 18. How many "Hamlet" roles have been listed in all film credits through history?

In [7]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

hamlet_roles = df[df['title'] == 'Hamlet']

num_hamlet_roles = hamlet_roles['character'].nunique()

print(f'The number of "Hamlet" roles listed in all film credits through history is: {num_hamlet_roles}')

The number of "Hamlet" roles listed in all film credits through history is: 112

# 19. How many people have played an "Ophelia"?

In [8]:

import pandas as pd
csv_file = "cast.csv"

df = pd.read_csv(csv_file)

ophelia_roles = df[df['character'] == 'Ophelia']

num_ophelia_actors = ophelia_roles['name'].nunique()

print(f'The number of people who have played the role of "Ophelia" is: {num_ophelia_actors}')

The number of people who have played the role of "Ophelia" is: 115

# 20. How many people have played a role called "The Dude"?

In [9]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

the_dude_roles = df[df['character'] == 'The Dude']

num_the_dude_actors = the_dude_roles['name'].nunique()

print(f'The number of people who have played a role called "The Dude" is: {num_the_dude_actors}')

The number of people who have played a role called "The Dude" is: 19

# 21 How many people have played a role called "The Stranger"?

In [10]:

import pandas as pd
csv_file = "cast.csv"

df = pd.read_csv(csv_file)

the_stranger_roles = df[df['character'] == 'The Stranger']

num_the_stranger_actors = the_stranger_roles['name'].nunique()

print(f'The number of people who have played a role called "The Stranger" is: {num_the_stranger_actors}')

The number of people who have played a role called "The Stranger" is: 202

# 22 How many roles has Sidney Poitier played throughout his career?

In [11]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

sidney_poitier_roles = df[df['name'] == 'Sidney Poitier']

num_sidney_poitier_roles = sidney_poitier_roles['character'].nunique()

print(f'Sidney Poitier has played {num_sidney_poitier_roles} roles throughout his career.')

Sidney Poitier has played 41 roles throughout his career.

# 23.How many roles has Judi Dench played?

In [12]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

judi_dench_roles = df[df['name'] == 'Judi Dench']

num_judi_dench_roles = judi_dench_roles['character'].nunique()

print(f'Judi Dench has played {num_judi_dench_roles} roles throughout her career.')

Judi Dench has played 46 roles throughout her career.

# 24. List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [13]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

cary_grant_supporting_roles_1940s = df[(df['name'] == 'Cary Grant') & (df['n'] == 2) & (df['year'] >= 1940) & (df['year'] <= 1949)]

cary_grant_supporting_roles_1940s = cary_grant_supporting_roles_1940s.sort_values(by='year')

print(cary_grant_supporting_roles_1940s[['year', 'character']])

        year    character
871423  1940   Nick Arden
871433  1941  Roger Adams

# 25. List the leading roles that Cary Grant played in the 1940s in order by year

In [14]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

cary_grant_leading_roles_1940s = df[(df['name'] == 'Cary Grant') & (df['n'] == 1) & (df['year'] >= 1940) & (df['year'] <= 1949)]

cary_grant_leading_roles_1940s = cary_grant_leading_roles_1940s.sort_values(by='year')

print(cary_grant_leading_roles_1940s[['year', 'character']])

        year                             character
871448  1940                           Matt Howard
871407  1940                          Walter Burns
871450  1940                    C. K. Dexter Haven
871438  1941                      Johnnie Aysgarth
871452  1942                          Leopold Dilg
871429  1942                 Patrick 'Pat' O'Toole
871398  1943                         Capt. Cassidy
871422  1943  Joe Adams -posing as Joe Bascopolous
871430  1944                           Jerry Flynn
871390  1944                     Mortimer Brewster
871425  1944                            Ernie Mott
871424  1946                           Cole Porter
871427  1946                                Devlin
871444  1947                           Dick Nugent
871445  1947                                Dudley
871421  1948                         Jim Blandings
871402  1948                     Dr. Madison Brown
871411  1949                 Captain Henri Rochard

# 26. How many roles were available for actors in the 1950s?

In [15]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

roles_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959)]

num_roles_1950s = roles_1950s.shape[0]

print(f'The number of roles available for actors in the 1950s is: {num_roles_1950s}')

The number of roles available for actors in the 1950s is: 215471

# 27. How many roles were available for actresses in the 1950s?

In [16]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

actress_roles_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959) & (df['type'] == 'actress')]

num_actress_roles_1950s = actress_roles_1950s.shape[0]

print(f'The number of roles available for actresses in the 1950s is: {num_actress_roles_1950s}')

The number of roles available for actresses in the 1950s is: 57733

# 28. How many leading roles (n=1) were available from the beginning of film history through 1980?

In [17]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

leading_roles_until_1980 = df[(df['year'] <= 1980) & (df['n'] == 1)]

num_leading_roles_until_1980 = leading_roles_until_1980.shape[0]

print(f'The number of leading roles (n=1) available from the beginning of film history through 1980 is: {num_leading_roles_until_1980}')

The number of leading roles (n=1) available from the beginning of film history through 1980 is: 65140

# 29. How many non-leading roles were available through from the beginning of film history through 1980?

In [19]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

non_leading_roles_until_1980 = df[(df['year'] <= 1980) & (df['n'] != 1)]

num_non_leading_roles_until_1980 = non_leading_roles_until_1980.shape[0]

print(f'The number of non-leading roles (n values other than 1) available from the beginning of film history through 1980 is: {num_non_leading_roles_until_1980}')

The number of non-leading roles (n values other than 1) available from the beginning of film history through 1980 is: 1117667

# 30. How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [20]:

import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

roles_without_n_rank_until_1980 = df[(df['year'] <= 1980) & df['n'].isna()]

num_roles_without_n_rank_until_1980 = roles_without_n_rank_until_1980.shape[0]

print(f'The number of roles through 1980 that did not warrant a numeric "n" rank is: {num_roles_without_n_rank_until_1980}')

The number of roles through 1980 that did not warrant a numeric "n" rank is: 448347