# 1. Manipulate using a list.

i) To add new elements to the end of the list
ii)To reverse elements in the list
iii)To display the same list of elements multiple times
iv)To concatenate two list.
v)To sort the elements in the list in ascending order

In [1]:
lst=[10,20,'john']

In [2]:

lst

[10, 20, 'john']

In [3]:
#i) To add new elements to the end of the list 

lst.append(30) #append is used to add single element at the end of the list

In [4]:
lst

[10, 20, 'john', 30]

In [6]:
# ii)To reverse elements in the list 

lst.reverse()
lst

[30, 'john', 20, 10]

In [7]:
# iii)To display the same list of elements multiple times
lst*5

[30,
 'john',
 20,
 10,
 30,
 'john',
 20,
 10,
 30,
 'john',
 20,
 10,
 30,
 'john',
 20,
 10,
 30,
 'john',
 20,
 10]

In [33]:
# iv)To concatenate two list.
lst1=[11,12,13]
lst2=[14,15,16]
r=lst1+lst2
r

[11, 12, 13, 14, 15, 16]

In [11]:
# v)To sort the elements in the list in ascending order
lst=[50,100,16,20,11]

In [12]:
lst

[50, 100, 16, 20, 11]

In [13]:
lst.sort()

In [14]:
lst

[11, 16, 20, 50, 100]

# 2.Write a Python program to do in the tuples

i)Manipulate using tuples
ii)To add new elements to the end of the tuples
iii)To reverse elements in the tuple
iv)To display the elements of the same tuple multiple times
v)To concatenate two tuples
vi)To sort the elements in the tuple in ascending order

In [15]:
# i)Manipulate using tuples

tup=(11, 12.34,'david')

In [16]:
tup

(11, 12.34, 'david')

In [21]:
# ii)To add new elements to the end of the tuples 

#You cant add new elements to a tuple because of their immutable property.

In [22]:
# iii)To reverse elements in the tuple

tup=(1,2,3,4)
reversed_tup=tup[::-1]
print(reversed_tup)

(4, 3, 2, 1)

In [23]:
# iv)To display the elements of the same tuple multiple times 
tup=(20,30)

In [24]:
tup

(20, 30)

In [25]:
tup*4

(20, 30, 20, 30, 20, 30, 20, 30)

In [32]:
# v)To concatenate two tuples
tup1=(1,2,3)
tup2=(7,8,9)
r=tup1+tup2
r

(1, 2, 3, 7, 8, 9)

In [37]:
# vi)To sort the elements in the tuple in ascending order

#You cant sort the elements in the tuple in ascending order because it is immutable.

# 3.Write a Python program to implement the following list

i)Create a list with integers(minimum 10 numbers)
ii)How to display the last number in the list
iii)Command for displaying the values from the list[0:4]
iv)Command for displaying the values from the list[2:]
v)Command for displaying the values from the list[:6]

In [ ]:
# i)Create a list with integers(minimum 10 numbers)

lst=[2,4,6,8,10,12,14,16,18,20]

In [40]:
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
# ii)How to display the last number in the list
lst[9:]

[20]

In [42]:
# iii)Command for displaying the values from the list[0:4]
lst[0:4]

[2, 4, 6, 8]

In [43]:
# iv)Command for displaying the values from the list[2:]

lst[2:]

[6, 8, 10, 12, 14, 16, 18, 20]

In [44]:
# v)Command for displaying the values from the list[:6]

lst[:6]

[2, 4, 6, 8, 10, 12]

# 4.Write a python program : tuple1 =(10,50,20,40,30)
  
 i)To display the elements 10 and 50 from tuple1
 ii)To display the length of tuple1
 iii)To find the minimum element from tuple1
 iv)To add all elements in the tuple1
 v)To display the same tuple1 multiple times

In [46]:
tuple1=(10,50,20,40,30)

In [47]:
tuple1

(10, 50, 20, 40, 30)

In [53]:
# i)To display the elements 10 and 50 from tuple1

tuple1[0:2]

(10, 50)

In [54]:
# ii)To display the length of tuple1

len(tuple1)

5

In [56]:
# iii)To find the minimum element from tuple1

min(tuple1)

10

In [58]:
# iv)To add all elements in the tuple1

sum(tuple1)

150

In [60]:
# v)To display the same tuple1 multiple times

tuple1*4

(10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30)

# 5.Write a Python program

i)To calculate the length of a string
ii)To reverse words in a string
iii)To display the same string multiple times
iv)To concatenate two strings
v)Str1="South India",using string slicing to display "India"

In [61]:
# i)To calculate the length of a string 

Str1="South India"

In [62]:
Str1

'South India'

In [63]:
len(Str1)

11

In [66]:
#  ii)To reverse words in a string

Str1[::-1]

'aidnI htuoS'

In [68]:
# iii)To display the same string multiple time

Str1 * 3

'South IndiaSouth IndiaSouth India'

In [70]:
# iv)To concatenate two strings

Str1="South India"
Str2="India"
r= Str1 + Str2
r

'South IndiaIndia'

In [ ]:
# v)Str1="South India",using string slicing to display "India"

In [71]:
Str1[6:]

'India'

# 6.Perform the following
i)Creating the Dictionary
ii)Accessing values and keys in the Dictionary
iii)Updating the dictionary using a function
iv)Clear and delete the dictionary values.

In [72]:
# i)Creating the Dictionary

student={'f_name':'Aditya','l_name':'Patil','city':'Belgaum'}

In [73]:
student

{'f_name': 'Aditya', 'l_name': 'Patil', 'city': 'Belgaum'}

In [75]:
# ii)Accessing values and keys in the Dictionary

student.values()

dict_values(['Aditya', 'Patil', 'Belgaum'])

In [76]:
student.keys()

dict_keys(['f_name', 'l_name', 'city'])

In [77]:
# iii)Updating the dictionary using a function

student.update({'class': '5'})

In [78]:
student

{'f_name': 'Aditya', 'l_name': 'Patil', 'city': 'Belgaum', 'class': '5'}

In [81]:
# iv)Clear and delete the dictionary values.

student.pop('city')

'Belgaum'

In [82]:
student

{'f_name': 'Aditya', 'l_name': 'Patil'}

# 7.Python program to insert a number to any position in a list

In [83]:
lst=[10,20,30,40,50]

In [84]:
lst

[10, 20, 30, 40, 50]

In [85]:
lst.insert(4,'15')

In [86]:
lst

[10, 20, 30, 40, '15', 50]

# 8.Python program to delete an element from a list by index

In [87]:
lst=[11,12,13,14,15]

In [88]:
lst

[11, 12, 13, 14, 15]

In [93]:
lst.pop(2)

13

In [94]:
lst

[11, 12, 14, 15]

# 9.Write a program to display a number from 1 to 100

In [96]:
for i in range(1,101):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10.Write a python program to find the sum of all items in a tuple

In [97]:
tup=(1,2,3,4,5)

In [98]:
tup

(1, 2, 3, 4, 5)

In [103]:
import math
r = math.fsum(tup)
print("The sum of tuple elements is " + str(r))

The sum of tuple elements is 15.0

# 12.A list of words is given .Find the words from the list that have their second character in uppercase.
ls=['hello','Dear','hOw','ARe','You']

In [105]:
ls=['hello','Dear','hOw','ARe','You']
result =[word for word in ls
        if len(word)>=2 and word[1].isupper()]
print(result)

['hOw', 'ARe']